`PART 1: Data cleaning`
--------------------------------------------
# Machine learning model that can accurately predict if a borrower will pay 


# off their loan on time or not?
---------------------------------------------------------------------------------

[Lending Club](https://www.lendingclub.com/info/download-data.action) releases data for all of the approved and declined loan applications periodically on their website. We have dataset for years from 2007 to 2011. **Data dictionary** can be found on this [google drive](https://docs.google.com/spreadsheets/d/191B2yJ4H1ZPXq0_ByhUgWMFZOYem5jFz0Y3by_7YBY4/edit). The dataset is attached in this repository.

**PROBLEM STATEMENT** : `Can we build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?`


-------------------------------------------------------------

## Exploring Dataset:
------------------------------------------------

In [3]:
import pandas as pd
loans_2007 = pd.read_csv("LoanStats3a.csv",skiprows=1, low_memory=False)
#dropping columns with more than 50% missing values
half_count = len(loans_2007)/2
loans_2007 = loans_2007.dropna(thresh=half_count,axis=1)
#dropping desc column as it contains description for loan
loans_2007 = loans_2007.drop(['desc'],axis=1)
loans_2007.to_csv('loans_2007.csv',index=False)

In [4]:
#using cleaned dataset from outside resources
loans_2007 = pd.read_csv("loans_2007_t.csv", low_memory=False)

In [6]:
pd.options.display.max_columns=90
loans_2007.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [7]:
loans_2007.shape[1]

52

In [8]:
loans_2007.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

------------------------
We can see there are 52 number of columns and we need to analyse all. But we also know that not all the column values are important for analysis. So to analyse them we will analyse them in a group of 18 columns. Also we need to handle columns which:
* can **leak** information, any about future or target variable
* do not affect borrower's ability to payback loan(like id)
* poorly formatted columns which may needed to be cleaned
* require a lot of processing
* contains redundant information

In [9]:
loans_2007.columns[:19]

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'purpose'],
      dtype='object')

#### First 18 column detail:

column name|detail
---------------|------------
'id'| A unique LC assigned ID for the loan listing.
'member_id'| A unique LC assigned Id for the borrower member.
'loan_amnt'| The listed amount of the loan applied for by the borrower
'funded_amnt'| The total amount committed to that loan at that point in time.
'funded_amnt_inv'|The total amount committed by investors for that loan at that point in time.
'term'| The number of payments on the loan. Values are in months and can be either 36 or 60.
'int_rate'| Interest Rate on the loan
'installment'| The monthly payment owed by the borrower if the loan originates.
'grade'| LC assigned loan grade
'sub_grade'| LC assigned loan subgrade
'emp_title'|The job title supplied by the Borrower when applying for the loan
'emp_length'| Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.
'home_ownership'| The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER
'annual_inc'| The self-reported annual income provided by the borrower during registration
'verification_status'|Indicates if income was verified by LC, not verified, or if the income source was verified
'issue_d'| The month which the loan was funded
'loan_status'| Current status of the loan
'pymnt_plan'|Indicates if a payment plan has been put in place for the loan
'purpose'|A category provided by the borrower for the loan request.

From above 19 columns we can **remove** *id, member_id, funded_amnt, funded_amnt_inv, grade, sub_grade, emp_title, issue_d*

* **id**: randomly generated field by Lending Club for unique identification purposes only
* **member_id**: also a randomly generated field by Lending Club for unique identification purposes only
* **funded_amnt**: leaks data from the future (after the loan is already started to be funded)
* **funded_amnt_inv**: also leaks data from the future (after the loan is already started to be funded)
* **grade**: contains redundant information as the interest rate column (int_rate)
* **sub_grade**: also contains redundant information as the interest rate column (int_rate)
* **emp_title**: requires other data and a lot of processing to potentially be useful
* **issue_d**: leaks data from the future (after the loan is already completed funded)

In [10]:
loans_2007 = loans_2007.drop(['id','member_id','funded_amnt','funded_amnt_inv','grade','sub_grade','emp_title','issue_d'],axis=1)

In [11]:
loans_2007.shape

(42538, 44)

#### Next set of columns:

column name|detail
---|-----------------
title|The loan title provided by the borrower
zip_code|The first 3 numbers of the zip code provided by the borrower in the loan application.
addr_state|The state provided by the borrower in the loan application
dti|A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
delinq_2yrs|The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years
earliest_cr_line|The month the borrower's earliest reported credit line was opened
inq_last_6mths|The number of inquiries in past 6 months (excluding auto and mortgage inquiries)
open_acc|The number of open credit lines in the borrower's credit file.
pub_rec|Number of derogatory public records
revol_bal|Total credit revolving balance
revol_util|Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
total_acc|The total number of credit lines currently in the borrower's credit file
initial_list_status|The initial listing status of the loan. Possible values are – W, F
out_prncp|Remaining outstanding principal for total amount funded
out_prncp_inv|Remaining outstanding principal for portion of total amount funded by investors
total_pymnt|Payments received to date for total amount funded
total_pymnt_inv|Payments received to date for portion of total amount funded by investors
total_rec_prncp|Principal received to date

From above columns the columns we need to drop are:
* **zip_code**: redundant with the addr_state column since only the first 3 digits of the 5 digit zip code are visible (which only can be used to identify the state the borrower lives in)
* **out_prncp**: leaks data from the future, (after the loan already started to be paid off)
* **out_prncp_inv**: also leaks data from the future, (after the loan already started to be paid off)
* **total_pymnt**: also leaks data from the future, (after the loan already started to be paid off)
* **total_pymnt_inv**: also leaks data from the future, (after the loan already started to be paid off)
* **total_rec_prncp**: also leaks data from the future, (after the loan already started to be paid off)

In [12]:
loans_2007 = loans_2007.drop(['zip_code','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp'],axis=1)

In [13]:
loans_2007.shape

(42538, 38)

#### Last set of columns:
column name | description
----------|--------------------
total_rec_int|Interest received to date
total_rec_late_fee|Late fees received to date
recoveries|post charge off gross recovery
collection_recovery_fee|post charge off collection fee
last_pymnt_d|Last month payment was received
last_pymnt_amnt|Last total payment amount received
last_credit_pull_d|The most recent month LC pulled credit for this loan
collections_12_mths_ex_med|Number of collections in 12 months excluding medical collections
policy_code|publicly available policy_code=1 new products not publicly available policy_code=2
application_type|Indicates whether the loan is an individual application or a joint application with two co-borrowers
acc_now_delinq|The number of accounts on which the borrower is now delinquent.
chargeoff_within_12_mths|Number of charge-offs within 12 months
delinq_amnt|The past-due amount owed for the accounts on which the borrower is now delinquent.
pub_rec_bankruptcies|Number of public record bankruptcies
tax_liens|Number of tax liens

From above list of columns, we need to drop the below columns:
* **total_rec_int**: leaks data from the future, (after the loan already started to be paid off),
* **total_rec_late_fee**: also leaks data from the future, (after the loan already started to be paid off),
* **recoveries**: also leaks data from the future, (after the loan already started to be paid off),
* **collection_recovery_fee**: also leaks data from the future, (after the loan already started to be paid off),
* **last_pymnt_d**: also leaks data from the future, (after the loan already started to be paid off),
* **last_pymnt_amnt**: also leaks data from the future, (after the loan already started to be paid off).

In [14]:
loans_2007 = loans_2007.drop(["total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt"],axis=1)

In [15]:
print(loans_2007.iloc[0])

loan_amnt                            5000
term                            36 months
int_rate                           10.65%
installment                        162.87
emp_length                      10+ years
home_ownership                       RENT
annual_inc                          24000
verification_status              Verified
loan_status                    Fully Paid
pymnt_plan                              n
purpose                       credit_card
title                            Computer
addr_state                             AZ
dti                                 27.65
delinq_2yrs                             0
earliest_cr_line                 Jan-1985
inq_last_6mths                          1
open_acc                                3
pub_rec                                 0
revol_bal                           13648
revol_util                          83.7%
total_acc                               9
initial_list_status                     f
last_credit_pull_d               Jun-2016
collections_12_mths_ex_med              0
policy_code                             1
application_type               INDIVIDUAL
acc_now_delinq                          0
chargeoff_within_12_mths                0
delinq_amnt                             0
pub_rec_bankruptcies                    0
tax_liens                               0
Name: 0, dtype: object

In [16]:
loans_2007.columns

Index(['loan_amnt', 'term', 'int_rate', 'installment', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'loan_status',
       'pymnt_plan', 'purpose', 'title', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code',
       'application_type', 'acc_now_delinq', 'chargeoff_within_12_mths',
       'delinq_amnt', 'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [17]:
loans_2007.shape

(42538, 32)

-----------------------------------------------------------------------
## Target column:
So far, we have explored the dataset. Now we need to decide the *Target column*. Our problem statement is:

**PROBLEM STATEMENT** : `Can we build a machine learning model that can accurately predict if a borrower will pay off their loan on time or not?`

In [18]:
loans_2007["loan_status"].value_counts(dropna=False)

Fully Paid                                             33136
Charged Off                                             5634
Does not meet the credit policy. Status:Fully Paid      1988
Current                                                  961
Does not meet the credit policy. Status:Charged Off      761
Late (31-120 days)                                        24
In Grace Period                                           20
Late (16-30 days)                                          8
Default                                                    3
NaN                                                        3
Name: loan_status, dtype: int64

We should use `loan_status` as our target column as it tells if the loan was fully paid or it holds any other status. Also this column contains text type data , so we need to convert it to numerical type so as to use for training a model. Gotcha!

We can see that we have 9 different values for "loan_status". But as an inverstors perspective, we need to target on loans that are either fully paid or charged off. So we will be removing other column values, resulting the problem converted to **binary classification**. We will remove those rows and then assign 0 and 1 to remaining category values in "loan_status" column.

In [19]:
#preserving only required values
bool_ = (loans_2007["loan_status"]=="Fully Paid") | (loans_2007["loan_status"]=="Charged Off")
loans_2007 = loans_2007[bool_]
loans_2007["loan_status"].value_counts()

Fully Paid     33136
Charged Off     5634
Name: loan_status, dtype: int64

In [20]:
#converting values to numerical type
loans_2007["loan_status"] = pd.Categorical(loans_2007["loan_status"]).codes

In [21]:
loans_2007["loan_status"].value_counts()

1    33136
0     5634
Name: loan_status, dtype: int64

------------------------------------------------------------------
## Analysing for columns with unique values:
We need to remove those columns which contain all same values as that will not bring much variance to prediction.

In [22]:
drop_cols = list()
col_list = loans_2007.columns
for col in col_list:
    col_series = loans_2007[col].dropna()
    length = len(col_series.unique())
    if length==1:
        drop_cols.append(col)
drop_cols

['pymnt_plan',
 'initial_list_status',
 'collections_12_mths_ex_med',
 'policy_code',
 'application_type',
 'acc_now_delinq',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'tax_liens']

In [23]:
loans_2007 = loans_2007.drop(drop_cols,axis=1)

In [24]:
loans_2007.shape

(38770, 23)

#### Saving the dataset as csv file:

In [25]:
loans_2007.to_csv("filtered_loans",index=False)

--------------------------------------------------------------
# So Far...
* We initially had dataset of shape (42538,52) and then we analysed and cleaned it to bring it to the shape (38770,23)
* We removed columns that may leak information or the columns that aren't useful for our modelling purpose
* We decided our target column and decided to focus on modelling efforts based on Binary Classification
---------------------------------------------------------------------------